In [ ]:
# # Stack
# st = []
# top = -1
# def push(st):
#     st = list.append(st)
#     top+=1
# def pop():
#     st.remove()
#     top-=1
# def show(st):
#     print(st)

TypeError: descriptor 'append' for 'list' objects doesn't apply to a 'int' object

In [4]:
# day 4
# positive negative and zero
a = int(input("enter number: "))
if(a>0):
    print("positive")
elif(a==0):
    print("zero")
else:
    print("negative")

negative

In [ ]:
# check in which quadrant

x,y = map(int,input().split())
if(x>=0 and y>=0):
    print("First Quadrant")

In [7]:
n= 15
if(bin(n)[-1]=="1"):
    print("odd")
else:
    print("even")

odd

In [ ]:
n=5
if(bin(n)[2:] and 1 == True):
    print("even")
else:
    print('odd')

odd

In [18]:
n = 5
if(bin(n) and 1):
    print("odd")
else:
    print("even")

odd

In [ ]:
t = input("Enter a character: ")
t.lower()
a = "Dhruval"
if(a[0]=='D'):
    print("Delightful")
elif(a[1]=="h"):
    print("Happy")
elif(a[2]=='r'):
    print("righteous")
elif(a[3]=='u'):
    print("universal")
elif(a[4]=='v'):
    print("versitile")
elif(a[5]=='a'):
    print("always happy")
elif(a[6]=="l"):
    print("liberate")
else:
    print("Invalid input")

Delightful

In [4]:
#nested if
if(1):
    print("hello")
    if(2):
        print("hey")
    else:
        print("bye")
else:
    print("good")

hello
hey

In [13]:
a= "abcdefghijk"
print(a[::3])

adgj

In [17]:
a=10
if(a>>1<<1 ==a):
    print('even')
else:
    print('odd')

even

In [ ]:
a = []
n= 10
for i in range(1,n-1):
    if(i%2==0):
        a.append(i**2)
    else:
        a.append(i**3)
print(a)

[1, 4, 27, 16, 125, 36, 343, 64]

In [21]:
n= 10
if(n%2==0):
    print((n//2)**3)
else:
    print((n//2+1)**2)

125

In [8]:
n = 2013
if(n%4==0):
    if(n%100):
        if(n%400):
            print("Leap year")
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("not a leap year")

not a leap year

In [13]:
a = range(-10,-5)
b = list(a)
print(b)

[-10, -9, -8, -7, -6]

In [20]:
n= int(input())
for i in range(0,100,n):
    print(f"{i}")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [21]:
for i in range(10):
    if(i==6):
        break
    else:
        print(i,end="")

012345

In [5]:
n= int(input())
a=0
if(n==1):
    for i in range(1,11):
        print(i,end=" ")
elif(n==2):
    while a<20:
        a+=1
        if(a%2==0):
            print(a,end=" ")
elif(n==3):
    while(a<20):
        a+=1
        if(a%2!=0):
            if(a==5):
                continue
            print(a,end=" ")
elif(n==4):
    for i in range(1,71):
        if(i%7==0):
            if(i==42):
                continue
            print(i,end=" ")
else:
    print("Invalid")

1 3 7 9 11 13 15 17 19

In [47]:
count=0
for i in range(3):
    for j in range(3):
        if(i==j):
            pass
        elif(i+j==3):
            continue
        elif(i>j):
            break    
        else:
            count+=1
print(count)

2

In [ ]:
print("Welcome to Hotel")
meal = ["1."]
Menu = ["1. Roti","2. Sabji","3. Rice", "4. Dall","5. Exit"]
prices = [20,50,40,30]
print(Menu)
print("Place Order by Code: ")
a=int(input())
count=0
while(a!=5):
    if(a==1):
        count+=prices[0]
        print(Menu[0],count)
    elif(a==2):
        count+=prices[1]
        print(Menu[1],count)
    elif(a==3):
        count+=prices[2]
        print(Menu[2],count)
    elif(a==4):
        count+= prices[3]
        print(Menu[3],count)
    else:
        print(Menu[4])
    break

Welcome to Hotel
['1. Roti', '2. Sabji', '3. Rice', '4. Dall', '5. Exit']
Place Order by Code:
3. Rice 40

In [ ]:
#password
p = input()
if(p=="password" and len(p)>10 and p[-1]!="." and (" " not in p)):
    print("invalid")

0

In [4]:
n=10
sums=0
for i in range(1,11):
    sums+=i
print(sums)

55

In [5]:
# check if prime or not
n= 8
for i in range(2,n-1):
    if(n%i!=0):
        print("prime")
    else:
        print("Not prime")

Not prime
prime
Not prime
prime
prime

In [6]:
n=55
a = 15
count=0
sum=0
for i in range(a,n+1):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i,end=" ")
        count+=1
        sum+=i
print(count)
print(sum)

17 19 23 29 31 37 41 43 47 53 10
340

In [26]:
n=397
rev=0
while(n):
    digit= n%10
    rev=rev*10+digit
    n=n//10
print(rev)

793

In [37]:
num = 121
n = num
new=0
while(n):
    digit =n%10
    new = new*10+digit
    n=n//10
if(new==num):
    print("palindrome")
else:
    print("not a palindrome")

palindrome

In [ ]:
for i in range(20,60):
    count=0
    sum=0
    n = i
    new=0
    while(n):
        digit =n%10
        new = new*10+digit
        n=n//1
    count+=1
    sum+=i
print(sum,count)

KeyboardInterrupt:

In [ ]:
# fibonnic series print count sum greater sum

In [53]:
# gcd
a = 12
b = 8
while(b):
    c=a%b
    a=b
    b=c
print(a)

4

In [54]:
num1 = 8
num2 = 12
for i in range(1,int(num1/2)+1):
    num1%i==0 and num2%i==0
    gcd=i
print(gcd)

4

In [1]:
#LCM
a = 36
b = 40
x,y=a,b
while(b):
    c=a%b
    a=b
    b=c
lcm= x*y / a
print(lcm)

360.0

In [6]:
#lcm without gcd
a=4
b=4
b%a

0

In [ ]:
#magic number
#amicouple numbers
220 and 284

In [ ]:
#armstrong numbers
#happy number --> 19
#strong number sum of factorial of numbers
#perfect number

In [5]:
n = 5
for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
n = 5
for i in range(n):
    for j in range(n):
        print(i+1, end=" ")
    print(" ")

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [2]:
n = 5
for i in range(n):
    for j in range(n):
        print(chr(65+i), end=" ")
    print(" ")

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [13]:
n = 5
for i in range(n):
    for j in range(n):
        print(chr(65+j), end=" ")
    print(" ")

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [12]:
n = 5
for i in range(n):
    for j in range(n):
        print(i+j+1, end=" ")
    print(" ")

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [36]:

for i in range(1,5):
    for j in range(1,5):
        if(j>=5-i):
            print("*",end=" ")   
        else:
            print(" ",end=" ") 
print()

      *     * *   * * * * * * *

In [ ]:
#recursion factorial
n=4
def fac(n):
    if(n==0):
        return 1
    else:
        return n*fac(n-1)
print(fac(n))

24

In [34]:
# print num from 1 to n
n=10
def num(n):
    if(n==0):
        return
    else:
        num(n-1)
        print(n,end=" ")
num(n)

1 2 3 4 5 6 7 8 9 10

In [6]:
#wothout using 3rd variable, reverse the 
a= 10
b= 20
a = a+b
b= a-b
a = a-b
print(a,b)

#bitwise
c = 5
d = 10
c=c^d
d=d^c
c=c^d
print(c,d)

20 10
10 5

In [16]:
addition = lambda a,b: a+b
print(addition(10,20))
sub = lambda a,b: a-b
print(sub(10,2))
mult = lambda a=1,b=2,c=3: a*b*c
print(mult())

30
8
6

In [29]:
def calculate(a,b):
    def sum(x,y):
        return x+y
    def sub(x,y):
        return x-y
    sum = sum(a,b)
    diff = sub(a,b)
    return sum,diff
sums,differnce = calculate(10,2)
print(sums,differnce)

12 8

In [ ]:
def greet(name):
    def format(name):
        return

In [4]:
t =((1, 2), (3, 4), (5, 3), (2, 2))
res=[]
for i in t:
    if((i[0]+i[1])%2==0):
        res.append(i)
print(res)

[(5, 3), (2, 2)]

In [10]:
t=('fire', 'water', 'fire', 'earth', 'air', 'earth')
res=set()
for i in t:
    res.add(i)
    if(i not in res):
        res.remove(i)
        break
print(tuple(res))

('earth', 'water', 'fire', 'air')