In [ ]:
#baba Tillu

In [ ]:
#track assignment submssions
students=["A","B","C"]
done=list(map(input().split()))
days=int(input())
for i in range(days):

In [4]:
#word frequency and position trackers
text="The sun shines. The moon shines too. The sun and the moon are different."
dict={}
positions=[]
for i in text:
    dict[i]=dict.get(i,0)+1
print(dict)

{'T': 3, 'h': 6, 'e': 9, ' ': 13, 's': 6, 'u': 2, 'n': 8, 'i': 3, '.': 3, 'm': 2, 'o': 6, 't': 3, 'a': 2, 'd': 2, 'r': 2, 'f': 2}

In [15]:
#most frequent word in list
def frequent(text):
    freq={}
    for i in text:
        freq[i]=freq.get(i,0)+1
    return max(freq,key=freq.get)
print(frequent(["cat", "dog", "cat", "mouse", "dog", "dog"]))

dog

In [18]:
#invent a dictonary
def invert(dict):
    res={}
    for key,value in dict.items():
        if(value not in res):
            res[value] =[]
        res[value].append(key)
    return res
print(invert({'a':1,'b':2,'c':1}))

{1: ['a', 'c'], 2: ['b']}

In [ ]:
#furr real

In [ ]:
#cave repetation
s=('fire', 'water', 'fire', 'earth', 'air', 'earth')
seen=set()
res=[]
for i in s:
    if i not in seen:
        seen.add(i) # to avoid repetation
        res.append(i)# to build answer
print(tuple(res))

('fire', 'water', 'earth', 'air')

In [25]:
#flat packages
t=(("P001", (30, 20, 0)),("P002",(25, 15, 10)),("P003", (40, 25, 10)),("P004", (50, 30, 0)))
flat=[]
for i in t:
    if(i[1][2]==0):
        flat.append(i[0])
print(tuple(flat))

('P001', 'P004')

In [23]:
#find scores with given threshold
Scores = [(85, 80, 82), (90, 70, 75), (78, 77, 79), (92, 91, 89)]
Th = 2
ans=[]
for i in range(len(Scores)):
    if((Scores[i][0]-Scores[i][1] <=Th) and (Scores[i][1]-Scores[i][2]<=Th) and (Scores[i][2]-Scores[i][0]<=Th)):
        ans.append(i)
print(tuple(ans))

(2, 3)

In [ ]:
#destinations
Destinations=[("Paris", 25000), ("London", 22000),("Tokyo", 30000), ("Dubai", 18000)]
Budget= 40000

In [ ]:
#lububu doll

In [37]:
a=[1,1,2,2,3,3,4,4,5,3,6]
seen=set()
for i in range(0,len(a)-1):
    if(i in seen):
        a.pop(i)
    else:
        seen.add(a[i])
print(seen)

{1, 2, 3, 4, 5, 6}

In [ ]:
a=lambda x: 
print(a(x=10))

9

In [10]:
a=lambda x=10,y=20:x+y
print(a())

30